body {
  font-family: Roboto;
  color: #ffffff;
  background-color: #0a0a0a;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

/* CONTACT BUTTON */
button {
  font-family: Orbitron;
  display: inline-block;
  background-color: #5a378a;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 150px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
button:hover {
  background-color: rgb(145, 145, 233);
}
link {
  font-family: Orbitron;
  display: inline-block;
  background-color: #5a378a;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 150px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
link:hover {
  background-color: rgb(145, 145, 233);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  object-fit: contain;
  position: relative;
  font-size: 20px;
}

form div {
  margin: 1em;
  display: inline-block;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input[type='text'],
select,
textarea {
  width: 60vw;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
input[type='message'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  height: 8em;
}
input[type='email'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
/* Style the container */
.container nav {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
}
.center {
  margin: auto;
  width: 70%;
  padding: 10px;
}
/* RESUME PAGE */
.pdf {
  margin: auto;
  padding: 10px;
  width: 80vw;
  height: 100vh;
}

/* CONTACT PAGE */
.container {
  /* border-radius: 5px; */
  background-color: #000000;
  /* padding: 20px; */
  display: flex;
  justify-content: center;
}
.contacttitle {
  margin: auto;
  padding: 10px;
  text-align: center;
  color: #ffffff;
}

/* NAVBAR  */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navtitle {
  font-family: Orbitron;
  color: #ffffff;
  font-size: 40px;
}
.navtitleTwo {
  font-family: Orbitron;
  color: #ffffff;
  font-size: 25px;
  padding-bottom: 0.5em;
}

/* ABOUT ME */
.aboutMe {
  background-color: #000000;
  display: flex;
  flex-direction: row;
}
.about {
  display: flex;
  justify-content: space-evenly;
}
.aboutPhoto {
  justify-content: flex-start;
  padding-top: 1em;
}
.abouttitle {
  font-family: Orbitron;
  color: #ffffff;
  font-size: 200%;
  padding-top: 2em;
}
.aboutbody {
  font-family: Roboto;
  color: #ffffff;
  font-size: 100%;
  padding-top: 2em;
  width: 40vw;
  /* border-left: 4px dotted white; */
  justify-content: flex-end;
}

/* PROJECT PAGE */
.allprojectSingle {
  border: 2px dotted white;
  padding: 1em;
  margin: 1em;
}

/* ==============================================================================================
MOVING STARS BACKGROUND


SED Innovations
https://sed.am
https://mkrtchyan.ga
================================================================================================= */
* {
  margin: 0;
  padding: 0;
}
header {
  background-color: rgba(33, 33, 33, 0.9);
  color: #ffffff;
  display: block;
  font: 14px/1.3 Arial, sans-serif;
  height: 50px;
  position: relative;
  z-index: 5;
}
h2 {
  margin-top: 30px;
  text-align: center;
}
header h2 {
  font-size: 22px;
  margin: 0 auto;
  /* padding: 10px 0; */
  width: 80%;
  text-align: center;
}
header a,
a:visited {
  text-decoration: none;
  color: #fcfcfc;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-moz-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-ms-keyframes move-clouds-back {
  from {
    background-position: 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.stars,
.twinkling,
.clouds {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: block;
}

.stars {
  background: #000
    url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
    center;
  z-index: 0;
}

.twinkling {
  background: transparent
    url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat
    top center;
  z-index: 1;

  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  background: transparent
    url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top
    center;
  z-index: 3;

  -moz-animation: move-clouds-back 200s linear infinite;
  -ms-animation: move-clouds-back 200s linear infinite;
  -o-animation: move-clouds-back 200s linear infinite;
  -webkit-animation: move-clouds-back 200s linear infinite;
  animation: move-clouds-back 200s linear infinite;
}

.starsnav,
.twinklingnav,
.cloudsnav {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.starsnav {
  background: #000
    url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
    center;
  z-index: 0;
  border-bottom: 4px dotted white;
}

.twinklingnav {
  background: transparent
    url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat
    top center;
  z-index: 1;

  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.cloudsnav {
  background: transparent
    url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top
    center;
  z-index: 3;

  -moz-animation: move-clouds-back 200s linear infinite;
  -ms-animation: move-clouds-back 200s linear infinite;
  -o-animation: move-clouds-back 200s linear infinite;
  -webkit-animation: move-clouds-back 200s linear infinite;
  animation: move-clouds-back 200s linear infinite;
}
